{% extends 'meals/base.html' %}

{% block content %}

<div class="max-w-xl mx-auto bg-white p-6 rounded-xl shadow">

    <h2 class="text-3xl font-bold mb-6">
        Add Meal
    </h2>

       <form method="POST">

    {% csrf_token %}

    <div class="mb-4">
        <label>Name</label>
        {{ form.food_name }}
    </div>

    <div class="mb-4">
        <label>Calories</label>
        {{ form.calories }}
    </div>

    <div class="mb-4">
        <label>Meal Type</label>
        {{ form.meal_type }}
    </div>
    <div class="mb-4">
        <label>Date</label>
        {{ form.date }}
    </div>

    <button
        type="submit"
        class="bg-green-600 text-white px-4 py-2 rounded"
    >
        Save Meal
    </button>

</form>

</div>

{% endblock %}