<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="https://cdn.tailwindcss.com"></script>

    <title>Calorie Tracker</title>
</head>
<body class="bg-gray-100">

    <nav class="bg-green-600 text-white p-4">
        <div class="container mx-auto flex justify-between items-center space-x-4">
            <h1 class="text-2xl font-bold">
                Calorie Tracker
            </h1>

    {% if user.is_authenticated %}

    <a href="{% url 'dashboard' %}">
        Dashboard
    </a>

    <a href="{% url 'meals_list' %}">
        Meals
    </a>

    <a href="{% url 'add_meal' %}">
        Add Meal
    </a>

    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button>Logout</button>
    </form>

{% else %}

    <a href="{% url 'login' %}">
        Login
    </a>

    <a href="{% url 'register' %}">
        Register
    </a>

{% endif %}
        </div>
    </nav>

    <main class="container mx-auto p-6">
        {% if messages %}

            {% for message in messages %}

                <div
                    class="bg-green-100 text-green-800 p-3 rounded mb-4"
                >
                    {{ message }}
                </div>

            {% endfor %}

            {% endif %}
        {% block content %}
        {% endblock %}

    </main>

</body>
</html>