{% extends 'meals/base.html' %}

{% block content %}

<div class="grid md:grid-cols-3 gap-4">

    <div class="bg-white p-6 rounded shadow">

        <h3>Goal</h3>

        <p class="text-3xl font-bold">
            {{ goal }}
        </p>

    </div>

    <div class="bg-white p-6 rounded shadow">

        <h3>Consumed</h3>

        <p class="text-3xl font-bold">
            {{ total_calories }}
        </p>

    </div>

    <div class="bg-white p-6 rounded shadow">

        <h3>Remaining</h3>

        <p class="text-3xl font-bold">
            {{ remaining }}
        </p>

    </div>
    <div class="mt-6 bg-white p-6 rounded shadow">

    <p>
        Average Calories:
        {{ average }}
    </p>

    {% if highest %}

        <p>
            Highest Calorie Food:
            {{ highest.food_name }}
            ({{ highest.calories }})
        </p>

    {% endif %}

</div>

</div>

{% endblock %}