{% extends 'meals/base.html' %}

{% block content %}
<form method="GET" class="mb-6">

    <input
        type="text"
        name="search"
        placeholder="Search food..."
        value="{{ request.GET.search }}"
        class="border p-2 rounded"
    >

    <button
        class="bg-green-600 text-white px-4 py-2 rounded"
    >
        Search
    </button>

</form>
<h2 class="text-3xl font-bold mb-6">
    Meal List
</h2>

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">

    {% for meal in meals %}

        <div class="bg-white p-5 rounded-xl shadow">

    <a href="{% url 'meal_detail' meal.id %}" class="text-xl font-bold text-green-600">
        {{ meal.food_name }}
    </a>

    <p>
        Calories: {{ meal.calories }}
    </p>

    <p>
        Meal: {{ meal.meal_type }}
    </p>

    <p>
        Date: {{ meal.date }}
    </p>

</div>

    {% empty %}

        <p>No meals found.</p>

    {% endfor %}

</div>

{% endblock %}