{% extends 'meals/base.html' %}

{% block content %}

<div class="bg-white p-8 rounded-xl shadow">

    <h1 class="text-3xl font-bold mb-4">
        {{ meal.food_name }}
    </h1>

    <p class="mb-2">
        Calories: {{ meal.calories }}
    </p>

    <p class="mb-2">
        Meal Type: {{ meal.meal_type }}
    </p>

    <p class="mb-2">
        Date: {{ meal.date }}
    </p>
    <a
    href="{% url 'edit_meal' meal.id %}"
    class="bg-blue-600 text-white px-4 py-2 rounded inline-block mt-4"
>
    Edit
</a>
<a
    href="{% url 'delete_meal' meal.id %}"
    class="bg-red-600 text-white px-4 py-2 rounded inline-block mt-4 ml-2"
>
    Delete
</a>
</div>

{% endblock %}