{% extends 'meals/base.html' %}

{% block content %}

<h2 class="text-3xl font-bold mb-6">
    Meal List
</h2>

<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6">

    {% for meal in meals %}

        <div class="bg-white p-5 rounded-xl shadow">

    <a href="{% url 'meal_detail' meal.id %}" class="text-xl font-bold text-green-600">
        {{ meal.food_name }}
    </a>

    <p>
        Calories: {{ meal.calories }}
    </p>

    <p>
        Meal: {{ meal.meal_type }}
    </p>

    <p>
        Date: {{ meal.date }}
    </p>

</div>

    {% empty %}

        <p>No meals found.</p>

    {% endfor %}

</div>

{% endblock %}